<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 550px
}


/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}
</style>

<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <ul class="nav nav-pills nav-stacked">
                    <li><a>Age</a></li>
                    <li><a>Gender</a></li>
                    <li><a>Height</a></li>
                    <li><a>Weight</a></li>
                    <li><a>etc</a></li>
                </ul>
                <br>
            </div>
            <br>
            <div class="col-sm-9">
                <div class="well">
                    <h4>GRAPHS!!</h4>
                    <p>LALALA</p>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Calories Burned</h4>
                            <p>Enough</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Calorie Intake</h4>
                            <p>A lot</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Sleep Time</h4>
                            <p>Not Enough</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Who Knows</h4>
                            <p>Let's get creative</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="well">
                            <p>GRAPH</p>
                            <p>GRAPH</p>
                            <p>GRAPH</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p>GRAPH</p>
                            <p>GRAPH</p>
                            <p>GRAPH</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p>GRAPH</p>
                            <p>GRAPH</p>
                            <p>GRAPH</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="well">
                            <p>SHTUFF</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p>SHTUFF</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
